version: "3.9"

services:
  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.app
    container_name: capstone_ui
    ports:
      - "8501:8501"
    depends_on:
      - api
      - ollama
    environment:
      API_URL: "http://api:8000"
      OLLAMA_HOST: "http://ollama:11434"
    volumes:
      - .:/app
      - ./data:/app/data
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: capstone_api
    ports:
      - "8000:8000"
    depends_on:
      - ollama
    environment:
      OLLAMA_HOST: "http://ollama:11434"
    volumes:
      - .:/app
      - ./data:/app/data
    restart: unless-stopped

  ollama:
    build:
      context: ./docker/ollama
    container_name: ollama_server
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    restart: unless-stopped

volumes:
  ollama_models:
